[submodule "themes/jeffprod"]
	path = themes/jeffprod
	url = ssh://git@github.com:korney4eg/hugo-blog-jeffprod.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
